<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--清除一定要，否则程序得到的是系统sqlserver数据库连接参数-->
    <clear />
    <add name="conSql" connectionString="server=.;database=LXWPF21;uid=sa;pwd=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
